@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .rotate-x-45 {
      transform: rotateX(10deg);
    }
  
    .rotate-y-45 {
      transform: rotateY(10deg);
    }

.rubik-400 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.montserrat-400 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
  }


  
